<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ block "title" . }}{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}{{ end }}</title>

	<meta id="description" name="description" content="{{ block "description" . }}{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.SiteDescription }}{{ end }}{{ end }}"/>

  <link rel="stylesheet" href="/water.light.min.css">
</head>

<body>
  <div class="container">
  {{ block "main" . }}

  {{ end }}
  </div>
  <p>
    {{ with .GitInfo }}
      <div style="opacity:0.3">
        Updated At: {{ dateFormat "2006-01-02 15:04 -0700" .AuthorDate.Local }} (<a href="{{$.Site.Params.github_repo}}commit/{{ .Hash }}">{{ .AbbreviatedHash }}</a>)
      </div>
    {{ end }}
  </p>
  <p style="opacity:0.5; text-align:center">
    🛠 by <a href="https://tomhummel.com">Tom Hummel</a>
  </p>
</body>
</html>
