{{ define "title" }}Tom Hummel's Data{{ end }}

{{ define "main" }}
  <h1>data.tomhummel.com</h1>

  <p>The clearinghouse for data of and adjacent to <a href="https://tomhummel.com">tom hummel</a></p>

  <h2>Meta Reports</h2>
  {{ $metaReports := .Site.Taxonomies.tags.meta.Pages }}
  <ul>
  {{ range first 5 $metaReports }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
  {{ end }}
  </ul>
  <p>
    <a href="{{ with .Site.GetPage "taxonomyTerm" "tags/meta" }}{{ .RelPermalink }}{{ end }}">More...</a>
  </p>

  <h2>Annual Reports</h2>
  {{ $annualReports := where .Site.Taxonomies.tags.annual.Pages "Section" "report" }}
  <ul>
  {{ range first 5 $annualReports }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
  {{ end }}
  </ul>
  <p>
    <a href="{{ with .Site.GetPage "taxonomyTerm" "tags/annual" }}{{ .RelPermalink }}{{ end }}">More...</a>
  </p>

  <h2>Recipes</h2>
  {{ $recipes := where .Site.RegularPages "Section" "recipe" }}
  <ul>
  {{ range first 5 $recipes.ByWeight }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
  {{ end }}
  </ul>
  <p><a href="{{ with .Site.GetPage "section" "recipe" }}{{ .RelPermalink }}{{ end }}">More...</a></p>

  <h2>Rules</h2>
  {{ $rules := where .Site.RegularPages "Section" "rule" }}
  <ul>
  {{ range first 5 $rules }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
  {{ end }}
  </ul>
  <p><a href="{{ with .Site.GetPage "section" "rule" }}{{ .RelPermalink }}{{ end }}">More...</a></p>

  <h2>Recent Updates</h2>
  <ul>
  {{ range first 10 (.Site.RegularPages.ByDate.Reverse) }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a> ({{ .Date.Format "Mon, Jan 2, 2006" }})</li>
  {{ end }}
  </ul>

{{ end }}
